/* Resalta el enlace activo */
.nav-link.active {
  background-color: #007bff;
  color: white !important;
}

/* Cambia el color del texto al pasar el mouse */
.nav-link:hover {
  color: #007bff !important;
}
/* añadir un hover a navMenu-Main, para indicar que se puede utilizar como un navegador para ir a "main"*/
.navMenu-Main:hover {
  cursor: pointer;
  color: #007bff !important;
}
