<div class="container-fluid h-100 p-0">
  <!-- Top Navbar -->
  <app-top-navbar (toggleSidebarEvent)="toggleSidebar()"></app-top-navbar>
  <div class="row g-0 h-100">
    <!-- Sidebar -->
    <div
      class="col-auto bg-light border-end"
      style="min-width: 220px; max-width: 270px; width: 16vw"
    >
      <app-sidebar class="h-100"></app-sidebar>
    </div>
    <!-- Main Content Area -->
    <div class="col d-flex flex-column h-100">
      <main class="flex-grow-1 p-4 overflow-auto">
        <router-outlet></router-outlet>
      </main>
      <app-footer class="border-top"></app-footer>
    </div>
    <ng-container *ngIf="isLoading">
      <ng-container *ngTemplateOutlet="loading"></ng-container>
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <div
    class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center bg-white bg-opacity-75"
    style="z-index: 1050"
  >
    <div
      class="bg-white border border-dark rounded-3 p-4 d-flex flex-column align-items-center shadow"
    >
      <div
        class="spinner-border text-danger"
        role="status"
        style="width: 3rem; height: 3rem"
      ></div>
      <span class="text-danger mt-3 fw-bold fs-5">Cargando...</span>
    </div>
  </div>
</ng-template>
