<div class="dashboard-container d-flex flex-column vh-100">
  <!-- Top Navbar -->
  <app-top-navbar class="top-navbar" (toggleSidebarEvent)="toggleSidebar()"></app-top-navbar>
  <div class="d-flex flex-grow-1">
    <!-- Sidebar -->
    <app-sidebar class="sidebar" [class.show]="sidebarVisible"></app-sidebar>
    <!-- Contenido dinámico -->
    <div class="main-content flex-grow-1 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
  <ng-container *ngIf="isLoading">
    <ng-container *ngTemplateOutlet="loading"></ng-container>
  </ng-container>
</div>

<ng-template #loading>
   <div
    class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center"
    style="z-index: 1050; background: rgba(255, 255, 255, 0.7)"
  >
    <div
      style="
        background: #fff;
        border: 2px solid #000;
        border-radius: 8px;
        padding: 2rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
      "
    >
      <div
        class="spinner-border text-danger"
        role="status"
        style="width: 3rem; height: 3rem"
      ></div>
      <span
        class="text-danger mt-3"
        style="font-size: 1.2rem; font-weight: bold"
        >Cargando...</span
      >
    </div>
  </div>
</ng-template>