<div class="dashboard-container d-flex flex-column vh-100">
  <!-- Top Navbar -->
  <app-top-navbar class="top-navbar" (toggleSidebarEvent)="toggleSidebar()"></app-top-navbar>
  <div class="d-flex flex-grow-1">
    <!-- Sidebar -->
    <app-sidebar class="sidebar" [class.show]="sidebarVisible"></app-sidebar>
    <!-- Contenido dinámico -->
    <div class="main-content flex-grow-1 p-4">
      <router-outlet></router-outlet> <!-- Espacio para cargar componentes hijos -->
    </div>
  </div>
</div>
<div class="dashboard-container d-flex flex-column vh-100"></div>

  <div class="d-flex flex-grow-1">
    <!-- Sidebar -->
    <app-sidebar class="sidebar"></app-sidebar>

    <!-- Contenido dinámico -->
    <div class="main-content flex-grow-1 p-4">
      <router-outlet></router-outlet> <!-- Espacio para cargar componentes hijos -->
    </div>
  </div>
